<div class="top-page-header-mypage">
  <a class="mypage-title" >
    <h2>MYPAGE</h2>
    <h5><%= @nickname %>さんのマイページ</h5>
  </a>
  <div class='account-page_right'>
    <%= link_to "チャットへ戻る", root_path, class: 'btn'%>
  </div>
</div>
<div class="mypage-content">
  <ul class="mypage-lists">
    <li><%= link_to 'EDIT ACCOUNT', edit_user_path, class: "edit-account-page" %>
      <p>アカウントの編集</p>
    </li>
    <li><%= link_to 'POSTS', post_path, class: "post-page" %>
      <p>投稿一覧</p>
    </li>
    <li><%= link_to 'CALENDAR', class: "calendar-page" %>
      <p>カレンダー</p>
    </li>
  </ul>
</div>